

        *{

              font-family: 'Convergence', sans-serif;
         }
        body{
            font-size:16px;
            color:#fff;
            background-color:white;
           
        }
        #header-nav{
            background-color:grey;
            border-radius:0;
            border:0;
            border-bottom:3px solid black;
          
        }

       
        .navbar-brand{
            padding-top:15px;
        
          
        }
        
        
        .navbar-brand p{
            
            color:black;
            font-size:1.5em;           
            font-weight:bold;
            text-shadow:1px 1px 1px #222;
            padding-top:-50px;
                               
           
        }
        @media (min-width: 767px) {
          #nav-list a{
            visibility:hidden;
        }

        }
       
        #nav-list a{
            color:black;
            text-align:center;
            border:1px solid black;
            border-top:0px;
            margin-bottom:0px;
           
        }
        #nav-list a:hover{
            background:white;
        }
       
        
        .navbar-header button.navbar-toggle, .navbar-header .icon-bar{
            border:1px solid white;
            
        }

      
        #menu a{
            font-size:1.2em;
        }
      

        #box{
           
            width:100%;
            margin-bottom:15px;
            position:relative;
            border:2px solid gray;
            background-color:grey;
           
            
        }
      
      
        
         #box span{
            position:absolute;
            top:0;
            right:0;
            width:100%;
            text-align:center;
            font-size:1.2em;     
           color:black;
           font-weight:bold;
           
            
        }
         #box p{
             margin-top:20px;
            padding:10px;
             color:black;

         }
       
       h2{
           color:black;
           text-align:center;
           padding-bottom:15px;
           
       }
 

    
  


